@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url("assets/fonts/Merriweather-Bold.ttf");
}

:root {
    --color-gold: #bdae82;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    font-family: 'Inter';
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none; 
    color: var(--color-white);
} 

.container-main {
    margin: 25px auto;
}

.hamburger-nav {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 30px;
    align-items: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}

.line {
    width: 100%;
    height: 3px;
    background: var(--color-gold);
    margin: 5px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
}
  
.hamburger-nav.open .line1 {
    transform: rotate(-45deg) translate(-12px, 6px);
}
  
.hamburger-nav.open .line2 {
    opacity: 0;
}
  
.hamburger-nav.open .line3 {
    transform: rotate(45deg) translate(-12px, -6px);
}

.nav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 3; 
    top: 0;
    left: 0;
    background-color: var(--color-black); 
    color: var(--color-white);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.open-nav {
    width: min(500px, 100%);
    visibility: visible;
    transition: 0.9s;
}

.blackout {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.5;
}

.nav-items {
    margin-top: 40px;
    margin-left: 100px;
    font-size: 30px;
}

.nav-item {
    margin: 20px 0;
}

.nav-item:hover {
    color: var(--color-gold);
    transition: 0.4s;
}

.nav-item-input-player {
    display: none;
    margin: 10px 0;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--color-gold);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    outline: none;
    color: var(--color-gold);
    cursor: pointer;
}

.nav-item-input-player::placeholder {
    font-size: 16px;
}

.nav-item-levels {
    display: none;
}

.nav-item-level {
    margin-left: 30px;
}

.results {
    margin-top: 10px;
    padding: 7px;
    font-size: 15px;
}

.title-results  {
    display: flex; 
    text-align: center;  
}

.item-result {
    padding: 5px;
    width: 90px;
    border: 1px solid var(--color-gold);
}

.item-winner {
    display: flex;
    color: var(--color-gold);
    text-align: center;  
}

.section-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 30px;
    color: var(--color-gold);
}

.section-information div {
    margin-right: 35px;
}

.repeat-game {
    width: 40px;
    height: 40px;
}

.repeat-game:hover {
    filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(7deg) brightness(92%) contrast(90%);
    transition: 0.3s;
}

.btns-levels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid var(--color-gold);
    border-radius: 30px;
    font-size: 20px;
    background-color: var(--color-gold);
    cursor: pointer;
}

.btn:hover {
    background: var(--color-gold);
    box-shadow: 0 0 5px var(--color-gold), 0 0 5px var(--color-gold), 0 0 10px var(--color-gold), 0 0 200px var(--color-gold);
    color: var(--color-white);
    transition: 0.5s;
}

.btn-active {
    background-color: var(--color-black);
    color: var(--color-gold);
    border: 2px solid var(--color-gold);
    transition: 0.3s;
}

.title {
    margin: auto;
    font-size: 50px;
    color: var(--color-white);
    cursor: pointer; 
}

.title:hover {
    text-shadow: 0 0 5px var(--color-gold), 0 0 15px var(--color-gold), 0 0 20px var(--color-gold), 0 0 50px var(--color-gold);
    color: var(--color-black);
    transition: 0.7s;
} 

.input-name {
    width: 300px;
    height: 60px;
    border: none;
    border-bottom: 3px solid var(--color-gold);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 35px;
    outline: none;
    color: var(--color-gold);
    cursor: pointer;
}

.block-name {
    color: var(--color-gold);
    font-size: 30px;
    text-align: center;
}
  
.field-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 320px;
    height: 320px;
    max-width: max(97%, 320px);
    perspective: 1000px;
    color: var(--color-gold);
    font-size: 40px;
}

.memory-card {
    position: relative;
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.93);
    transition: transform 0.4s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

.front-side, .back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;

    backface-visibility: hidden;
}

.front-side {
    transform: rotateY(180deg);
} 

.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

.modal {
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 70px;
    background-color: var(--color-white);
}

.modal-title {
    padding-top: 15px;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 35px;
    color: var(--color-gold);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    font-size: 24px;
}

.modal-footer {
    width: 100%;
    height: 25%;
    text-align: center;
}

.container-footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 7px 0;
    background-color: var(--color-gold);
}

@media screen and (max-width: 768px) {
    .btns-levels {
        display: none;
    }

    .section-information {
        margin-top: 60px;
    }
}